# Build output
/dist/

# Node
node_modules/
npm-debug.log*

# Vercel
.vercel/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# Ambiente
.env
.env.local
